/*
* @Author: hhombergs
* @Date:   2017-09-08
* @Last Modified by:   hhombergs
* @Last Modified time: 2017-09-08
*/

$fontFamily: sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
}
