/*
* @Author: hhombergs
* @Date:   2017-09-08
* @Last Modified by:   hhombergs
* @Last Modified time: 2017-09-08
*/

$backgroundColor: #00bcd4;
$colorWhite: #fff;

.loader-container {
    align-items: center;
    background-color: $backgroundColor;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.loader,
.loader:before,
.loader:after {
      border-radius: 50%;
}

.loader {
      box-shadow: inset 0 0 0 1em;
      color: $colorWhite;
      font-size: 11px;
      height: 10em;
      margin: 55px auto;
      position: relative;
      text-indent: -99999em;
      transform: translateZ(0);
      width: 10em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
}

.loader:before,
.loader:after {
      content: '';
      position: absolute;
}

.loader:before {
      animation: load2 2s infinite ease 1.5s;
      background: $backgroundColor;
      border-radius: 10.2em 0 0 10.2em;
      height: 10.2em;
      left: -0.1em;
      top: -0.1em;
      transform-origin: 5.2em 5.1em;
      width: 5.2em;
      -webkit-transform-origin: 5.2em 5.1em;
      -webkit-animation: load2 2s infinite ease 1.5s;
}

.loader:after {
      animation: load2 2s infinite ease;
      background: $backgroundColor;
      border-radius: 0 10.2em 10.2em 0;
      height: 10.2em;
      left: 5.1em;
      top: -0.1em;
      transform-origin: 0px 5.1em;
      width: 5.2em;
      -webkit-transform-origin: 0px 5.1em;
      -webkit-animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
}

@keyframes load2 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
}
